<!-- Bottom Navigation -->
<div class="bottom-nav">
    <a href="/sunnah" class="nav-item <%= currentPage === 'sunnah' ? 'active' : '' %>">
        <!-- <img src="/images/sunnah-icon.png" alt="Sunnah"> -->
        <i class="fas fa-book icons"></i>
        <span>Sunnah</span>
    </a>
    <a href="/quran" class="nav-item <%= currentPage === 'quran' ? 'active' : '' %>">
        <!-- <img src="/images/quran-icon.png" alt="Quran"> -->
        <i class="fas fa-quran"></i>
        <span>Quran</span>
    </a>
    <a href="/ayats" class="nav-item <%= currentPage === 'ayats' ? 'active' : '' %>">
        <!-- <img src="/images/ayats-icon.png" alt="Ayats"> -->
         <i class="fas fa-book-open"></i>
        <span>Ayats</span>
    </a>
    <a href="/surahs" class="nav-item <%= currentPage === 'surahs' ? 'active' : '' %>">
        <!-- <img src="/images/surahs-icon.png" alt="Surahs"> -->
         <i class="fas fa-list"></i>
        <span>Surahs</span>
    </a>
    <a href="/community" class="nav-item <%= currentPage === 'community' ? 'active' : '' %>">
        <!-- <img src="/images/more-icon.png" alt="More"> -->
         <i class="fas fa-solid fa-users"></i>
        <span>Community</span>
    <a href="/more2" class="nav-item <%= currentPage === 'more2' ? 'active' : '' %>">
        <!-- <img src="/images/more-icon.png" alt="More"> -->
         <i class="fas fa-plus"></i>
        <span>More2</span>
    </a>
</div>